@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
* {
    padding: 0px;
    margin: 0px;
}

a, a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}



/* SETTINGS FOR BOTTOM FOOTER */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    flex: 0 0 auto;
 }
.main-content{
    flex: 1 0 auto;
}
footer{
    flex: 0 0 auto;
}
/* SETTINGS FOR BOTTOM FOOTER */




body {
    background-color: #0D0C17;
    color: white;
}

.container {
    width: 1000px;
    margin: auto;
}
.container:not(:first-child) {
    margin-top: 20px;
}

.title {
    text-transform: uppercase;
    font-size: 2em;
}

.banner {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background: linear-gradient(to top, transparent, black);
    height: 10vh;
    font-family: 'Roboto', sans-serif;

}

.wrapper-header {
    width: 70%;
    margin: auto;

    display: flex;
    justify-content: row;
}


.logo {
    width: 30vh;
    height: 100px;

    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 100px;
}


/* NAV MENU */
.nav-menu ul {
    height: 100px;

    width: 70vw;
    display: flex;
    justify-content: row;

    justify-content: flex-end;
    align-items: center;
    box-shadow: inset;
    color: white;
}

.nav-menu li {
    list-style: none;
    margin-right: 57px;
}
/* NAV MENU */


/* BANNER TEXT */
.desc {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .date {
    width: 300px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    
    
}



.date, .event-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-shadow: 5px 5px 5px black, 0 0 1em black;
}

.date {
    font-size: 10em;
}

.days {
    color: #EB173A;
}

.mounth {
    color: #FCC109;
}

.year {
    color: #02A8F4;
}

.event-text {
    width: 1000px;
    margin-top: 50px;
    justify-content: column;
    
    text-align: center;
    font-size: 6.2em;
    color: white;
}

.event-text .medium {
    font-size: 0.5em;
}




.social {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.social_item {
    text-shadow: 5px 5px 5px black, 0 0 1em black;
}

.social_item img {
    width: 50px;
    /* border: 3px solid white; */
    /* border-radius: 50%; */
}
/* BANNER TEXT */


/* EVENTS */
.events-container {
    display: flex;
    flex-direction: column;

    width: 1000px;
    margin: auto;
}

.event {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.event:nth-child(odd) {
    flex-direction: row-reverse;
}

.event-img {
    width: 47%;
}

.event-desc {
    width: 47%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1.3em;
}
/* EVENTS */




/* CONTACTS */
.contacts .form-container form{
    display: flex;
    flex-direction: column;
}
form .user-email {
    border: none;
    box-shadow: 1px 1px 10px black;
    padding: 20px;
    width: 70%;
    background: #1f1e21;
    color:#eee;
    border-radius: 2px;
}
form .send {
    margin-top: 10px;
    width: 100px;
    padding: 20px;
    background: #1f1e21;
    border: none;
    box-shadow: 1px 1px 10px black;
    color:#75755A;
    border-radius: 2px;
}
/* CONTACTS */