@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
* {
    padding: 0;
    margin: 0;
}
.img-default {
    display: block;
    width: 100%;
}
a, a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}



/* SETTINGS FOR BOTTOM FOOTER */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header, .banner{
    flex: 0 0 auto;
 }
.main-content{
    flex: 1 0 auto;
}
footer{
    flex: 0 0 auto;
}
/* SETTINGS FOR BOTTOM FOOTER */





/* THEME SETTINGS */
body, .container-child {
    /* background-color: #1B1B3D; */
    background-color: #141432;
}
.container, .nav-menu li, .footer-wrapper {
    border-radius: 20px;
    box-shadow: 0 0 1px black;
    /* background-color: #141432; */
    background-color: #1B1B3D;
}
.container-child {
    border-radius: 20px;
    box-shadow: 0 0 1px black;
}
.desc {
    color: #D0D0D5;
}
/* THEME SETTINGS */






body {
    /* background-color: #0D0C17; */
    color: white;
}

.container {
    width: 1000px;
    margin: auto;

    padding: 20px;
    
    
}
.container:not(:first-child) {
    margin-top: 20px;
}

.title {
    text-transform: uppercase;
    font-size: 2em;
}

.banner {
    /* background-image: url('/assets/img/banner.jpg'); */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background: linear-gradient(to top, transparent, black);
    height: 10vh;
    font-family: 'Roboto', sans-serif;

}

.wrapper-header {
    width: 70%;
    margin: auto;

    display: flex;
    justify-content: space-between;
}


.logo {
    width: 30vh;
    height: 100px;

    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 100px;
}


/* NAV MENU */
.menu-header-container {
    height: 100px;
    width: 70%;
}
.nav-menu  {
    height: 100%;

    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content:flex-end;
    /* align-items: center; */
    align-items: center;
    /* box-shadow: inset; */
    color: white;
}

.nav-menu li {
    list-style: none;
    margin-right: 57px;

    box-shadow: 1px 1px 5px black;
    padding: 15px;
}

.nav-menu li:hover {
    padding: 20px;
    background-color: #141432;
}
/* NAV MENU */


/* BANNER TEXT */
.banner-desc {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .date {
    width: 300px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    
    
}

.date, .event-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-shadow: 5px 5px 5px black, 0 0 1em black;
}

.date {
    font-size: 10em;
}

.days {
    color: #EB173A;
}

.mounth {
    color: #FCC109;
}

.year {
    color: #02A8F4;
}

.event-text {
    width: 1000px;
    margin-top: 50px;
    justify-content: column;
    
    text-align: center;
    font-size: 4em;
    font-weight: lighter;
    color: white;
}

.event-text .medium {
    font-size: 0.5em;
}

.social {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.social_item {
    text-shadow: 5px 5px 5px black, 0 0 1em black;
}

.social_item img {
    width: 50px;
    /* border: 3px solid white; */
    /* border-radius: 50%; */
}
/* BANNER TEXT */





.main-content {
    margin-top: 20px;
}


/* EVENTS */
.events-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.event {
    /* width: 90%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    padding: 20px;
}

.event:nth-child(odd) {
    flex-direction: row-reverse;
}

.event-img {
    width: 47%;
    border-radius: 5px;
}

.event-desc {
    width: 47%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1.3em;
}

/* SINGLE-EVENT */
article img {
    border-radius: 5px;
}
article .title {
    margin-top: 10px;
}
.article-desc {
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1.3em;
}
.time_start {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: right;
    margin-top: 10px;
}
/* EVENTS */


/* SCHEDULE */
.schedules {
    display: flex;
    flex-direction: column;

    padding: 20px;
    /* background-color: #141321; */
}

.schedule, .schedule .time-line {
    display: flex;
    flex-direction: row;
}

.schedule {
    padding: 30px;
    border-radius: 10px;
    /* background: #0D0C17; */
    /* box-shadow: 1px 1px 5px black; */
    /* border-bottom: 1px solid #1f1e21; */
    justify-content: left;
}
.schedule:not(:first-child) {
    margin-top: 15px;
}

.schedule .name-schedule {
    margin-left: 30px;
}

.schedule .name-schedule, .schedule .time {
    font-size: 1.5em;
}
.schedule .format {
    margin-top: auto;
}
/* SCHEDULE */


/* CONTACTS */
.contacts .form-container form{
    display: flex;
    flex-direction: column;
}
form .user-email, form .username {
    margin: 5px 0;
    border: none;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    color:#D0D0D5;
}
form .send {
    margin-top: 10px;
    width: 100px;
    padding: 20px;
    /* background: #0D0C17; */
    border: none;
    color:#D0D0D5;

    border-radius: 10px;
}
/* CONTACTS */


/* FOOTER */
footer {
    width: 90%;
    padding: 20px;
    margin: auto;
}
.footer-wrapper {
    text-align: center;
    padding: 30px;
}
/* FOOTER */